{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-section about-heading">
    <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/cbumdep.png' %}" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">LA MEJOR TIENDA DE CHILE</span>
                            <span class="section-heading-lower">Quien Somos</span>
                        </h2>
                        <p>La Fundación Chilesuplementos nace con la misión de promover un estilo de vida saludable y activo para todos. Con un enfoque en la nutrición y el bienestar, nuestra fundación trabaja incansablemente para ofrecer recursos, educación y apoyo a la comunidad. Nos comprometemos a inspirar a las personas a tomar decisiones informadas sobre su salud y a fomentar la inclusión y el acceso a la información. Juntos, creamos un mundo donde el bienestar es para todos, sin importar el nivel de condición física o el conocimiento nutricional. Únete a nosotros en nuestro viaje hacia una vida más saludable y feliz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
